apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: n8n-data
  namespace: nasiko
  labels:
    app: n8n
    component: storage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "2Gi"